---
const { title = 'Badge', color = 'gray' } = Astro.props
---

<div>
    {
        color == 'gray' && (
            <span class="inline-flex items-center rounded-full bg-gray-400/10 px-3 py-1 text-sm font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'red' && (
            <span class="inline-flex items-center rounded-full bg-red-400/10 px-3 py-1 text-sm font-medium text-red-400 ring-1 ring-inset ring-red-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'yellow' && (
            <span class="inline-flex items-center rounded-full bg-yellow-400/10 px-3 py-1 text-sm font-medium text-yellow-400 ring-1 ring-inset ring-yellow-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'green' && (
            <span class="inline-flex items-center rounded-full bg-green-400/10 px-3 py-1 text-sm font-medium text-green-400 ring-1 ring-inset ring-green-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'blue' && (
            <span class="inline-flex items-center rounded-full bg-blue-400/10 px-3 py-1 text-sm font-medium text-blue-400 ring-1 ring-inset ring-blue-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'indigo' && (
            <span class="inline-flex items-center rounded-full bg-indigo-400/10 px-3 py-1 text-sm font-medium text-indigo-400 ring-1 ring-inset ring-indigo-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'purple' && (
            <span class="inline-flex items-center rounded-full bg-purple-400/10 px-3 py-1 text-sm font-medium text-purple-400 ring-1 ring-inset ring-purple-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'pink' && (
            <span class="inline-flex items-center rounded-full bg-pink-400/10 px-3 py-1 text-sm font-medium text-pink-400 ring-1 ring-inset ring-pink-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'orange' && (
            <span class="inline-flex items-center rounded-full bg-orange-400/10 px-3 py-1 text-sm font-medium text-orange-400 ring-1 ring-inset ring-orange-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'lime' && (
            <span class="inline-flex items-center rounded-full bg-lime-400/10 px-3 py-1 text-sm font-medium text-lime-400 ring-1 ring-inset ring-lime-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'fuchsia' && (
            <span class="inline-flex items-center rounded-full bg-fuchsia-400/10 px-3 py-1 text-sm font-medium text-fuchsia-400 ring-1 ring-inset ring-fuchsia-400/20">
                {title}
            </span>
        )
    }
    {
        color == 'teal' && (
            <span class="inline-flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-sm font-medium text-teal-400 ring-1 ring-inset ring-teal-400/20">
                {title}
            </span>
        )
    }
</div>
